<!DOCTYPE html>
<html lang="en" ng-app="NewsAggregator">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="resources/news.png"/>
    <title>News Aggregator</title>
    <!--LIBS-->
    <script src="libs/jquery/jquery-3.3.1.min.js" type="text/javascript"></script>
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="libs/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <script src="libs/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="libs/angular/angular.min.js" type="text/javascript"></script>
    <!--CUSTOM-->
    <script src="app/application.js" type="text/javascript"></script>
    <script src="app/service/background-service.js" type="text/javascript"></script>
    <link href="css/app.css" rel="stylesheet"/>
</head>
<body ng-controller="MainController">

    <nav class="navbar navbar-default navbar-fixed-top"> <!--navbar-fixed-top-->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" width="30px" height="30px" src="resources/news.png">
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="tab in tabs" role="presentation" ng-class="tab.state ? 'active' : ''"><a
                    ng-click="selectTab(tab.type)" href="#">{{tab.title}}</a></li>
        </ul>
        <form class="navbar-form navbar-left search-bar" ng-show="currentTab.type === 'main'" role="search">
            <!--<div class="form-group">-->
            <input ng-model="title" type="text" class="form-control search-input" placeholder="Title">
            <!--</div>-->
            <button type="submit" class="btn btn-default" ng-click="search()">Search</button>
        </form>
    </nav>
    <div class="container">
    <div class="row">
        <!--<div class="na-header">&nbsp;</div>-->
        <div ng-switch="currentTab.type">
            <div ng-switch-when="main">
                <div class="row na-header-big">
                    <div ng-repeat="news in newsList">
                        <h4>
                            <a ng-href="{{news.url}}">{{news.title}}</a>
                        </h4>
                        <div>
                            {{news.description}}
                        </div>
                        <div>
                            {{news.publicationDate | date:'medium'}}
                        </div>
                        <div>
                            Source: <a ng-href="{{news.channel.url}}">{{news.channel.title}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-switch-when="configuration">
                <div class="col-xs-12 config-header na-header">
                    <h2>Parser configuration</h2></div>
                <form novalidate name="settings" class="form-horizontal">
                    <div class="form-group">
                        <label for="source" class="col-sm-2 control-label">Source</label>
                        <div class="col-sm-10">
                            <input type="url" class="form-control" id="source" placeholder="http://.."
                                   ng-model="parser.source">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="format" class="col-sm-2 control-label">Format</label>
                        <div class="col-sm-10">
                            <select id="format" class="form-control" ng-options="format as format for format in formats"
                                    ng-model="parser.format"></select>
                        </div>
                    </div>
                    <div ng-if="parser.format === 'html'">
                        <div class="form-group">
                            <label for="channelSelector" class="col-sm-2 control-label">Channel Selector</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="channelSelector" placeholder="jquery selector"
                                       ng-model="parser.channelRule.channelSelector">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="titleSelector" class="col-sm-2 control-label">Title Selector</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="titleSelector" placeholder="jquery selector"
                                       ng-model="parser.channelRule.titleSelector">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="urlSelector" class="col-sm-2 control-label">Url Selector</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="urlSelector" placeholder="jquery selector"
                                       ng-model="parser.channelRule.urlSelector">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="itemsSelector" class="col-sm-2 control-label">Items Selector</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="itemsSelector" placeholder="jquery selector"
                                       ng-model="parser.channelRule.itemsSelector">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="itemSelector" class="col-sm-2 control-label">Item Selector</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="itemSelector" placeholder="jquery selector"
                                       ng-model="parser.itemRule.itemSelector">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="titleItemSelector" class="col-sm-2 control-label">Title Item Selector</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="titleItemSelector" placeholder="jquery selector"
                                       ng-model="parser.itemRule.titleSelector">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="urlItemSelector" class="col-sm-2 control-label">Url Item Selector</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="urlItemSelector" placeholder="jquery selector"
                                       ng-model="parser.itemRule.urlSelector">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="descriptionSelector" class="col-sm-2 control-label">Description Selector</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="descriptionSelector" placeholder="jquery selector"
                                       ng-model="parser.itemRule.descriptionSelector">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="publicationDateSelector" class="col-sm-2 control-label">Publication Date Selector</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="publicationDateSelector" placeholder="jquery selector"
                                       ng-model="parser.itemRule.publicationDateSelector">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="publicationDateFormat" class="col-sm-2 control-label">Publication Date Format</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="publicationDateFormat" placeholder="dd.MM.yyyy HH:mm:ss"
                                       ng-model="parser.itemRule.publicationDateFormat">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" ng-click="addParser(parser)">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>